{% extends 'sworkshop/layout.html'%}
{% load static %}
{% block title %}Обо мне{% endblock %}
{% block content %}
<div id="container">
    <div id="main">
        <article>
            <h3 class="about">About me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam autem, harum laborum modi
                molestias neque officia sint temporibus! Alias aliquid architecto aspernatur autem consectetur deserunt
                dicta distinctio dolor dolore doloribus enim ex expedita facere facilis fuga illum ipsa iure laudantium
                magnam, magni natus officia optio praesentium provident quia quibusdam quo quod, quos repellat,
                repellendus repudiandae sint soluta voluptatibus! Accusantium adipisci commodi consequatur debitis
                delectus dolorem, eligendi esse eveniet expedita ipsa ipsam iste modi, molestias nam nemo nihil non
                numquam odit optio quam, quidem reiciendis similique? Ab at commodi consequuntur dignissimos eum iste
                nisi nostrum repellat sed unde! Ab accusamus aliquid amet, commodi consectetur culpa cumque dicta dolore
                dolorem ea earum est incidunt ipsa itaque maiores molestiae nemo nisi odit officia placeat praesentium
                quae quidem quo, quos ratione repellat similique sint ut velit voluptates. Ad animi blanditiis dolorem,
                eaque est eum facilis incidunt non quasi, quis reiciendis sequi velit!</p>
        </article>
        <aside class="hidden-xs hidden-sm">
            <div class="container-md">
                <div class="section">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-3">
                            <img src="#" class="img-circle" width="150" height="150"
                         align="center" alt="pic-circle">
                        </div>
                    </div>
                </div>
                <br>
                <div class="section">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="#" class="img-responsive" alt="pic">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-3">
                            <div class="thumbnail">
                                <img src="#" class="img-responsive" alt="pic">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col-md-4" align="justify">
                            <div class="thumbnail">
                                <img class="img-responsive" src="#" alt="pic">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-3" align="justify">
                            <div class="thumbnail">
                                <img class="img-responsive" src="#"
                                      alt="pic">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>


{% endblock%}