{% extends 'sworkshop/layout.html'%}
{% load static %}

{% block title %}Мои работы{% endblock %}

{% block content %}
<div class="container">
    <div style="margin:40px 0;"></div>
    <div class="row">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/2.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/2.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/3.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/3.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/4.png' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/4.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/5.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/5.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/7.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/7.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/8.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/8.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/9.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/9.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/12.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/12.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/13.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/13.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/14.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/14.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/15.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/15.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-fancybox="gallery" href="{% static 'sworkshop/img/16.jpeg' %}">
                    <img class="img-responsive" src="{% static 'sworkshop/img/16.jpeg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}